<div class="standard-form" autocomplete="off">
  <p>
    {{menuDescription}}
  </p>

  <ul>
    <li><code>{{menuExample1}}</code></li>
    <li>{{{menuExample2}}}</li>
    <li>{{{menuExample3}}}</li>
  </ul>

  <hr/>

  <div class="form-group">
    <label>{{menuLabel}}</label>
    <div class="form-fields">
      <input type="text" name="rootPath" value="{{rootPath}}" />
    </div>
    <p class="notes">{{{menuNote1}}}</p>
  </div>

  <hr/>

  <div class="form-group">
    <button type="button" data-action="sync">
      <i class="fas fa-rotate"></i> {{menuButton}}
    </button>
  </div>

  <p class="notes">
    {{{menuNote2}}}
  </p>
</div>
